# Managed by Ansible - danmwallace.podman.semaphore
[Unit]
Description=Semaphore Postgres database
After=network-online.target

[Container]
Image=docker.io/library/postgres:17-alpine
ContainerName=semaphore-postgres
Network=semaphore.network
Volume={{ semaphore_data_dir }}/postgres:/var/lib/postgresql:z
Environment=POSTGRES_DB={{ semaphore_postgres_db }}
Environment=POSTGRES_USER={{ semaphore_postgres_user }}
Environment=POSTGRES_PASSWORD={{ semaphore_postgres_password }}
HealthCmd=pg_isready -U {{ semaphore_postgres_user }}
HealthInterval=5s
HealthTimeout=3s
HealthRetries=5
HealthStartPeriod=15s

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
