# Managed by Ansible - danmwallace.podman.n8n
[Unit]
Description=n8n Postgres database
After=network-online.target

[Container]
Image=docker.io/library/postgres:15.18
ContainerName=n8n-postgres
Network=n8n.network
Volume={{ n8n_data_dir }}/postgres:/var/lib/postgresql/data:z
Environment=POSTGRES_USER={{ n8n_postgres_user }}
Environment=POSTGRES_PASSWORD={{ n8n_postgres_password }}
Environment=POSTGRES_DB={{ n8n_postgres_db }}

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
