# Managed by Ansible - danmwallace.podman.librechat
[Unit]
Description=LibreChat vectordb (pgvector)
After=network-online.target

[Container]
Image={{ librechat_vectordb_image }}
ContainerName=librechat-vectordb
Network=librechat.network
Volume={{ librechat_data_dir }}/vectordb:/var/lib/postgresql/data:z
Environment=POSTGRES_DB={{ librechat_vectordb_postgres_db }}
Environment=POSTGRES_USER={{ librechat_vectordb_postgres_user }}
Environment=POSTGRES_PASSWORD={{ librechat_vectordb_postgres_password }}

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
