# Managed by Ansible - danmwallace.podman.librechat
version: 1.1.5
cache: true
{% if librechat_hermes_personal_enabled or librechat_hermes_infra_enabled %}
endpoints:
  custom:
{% if librechat_hermes_personal_enabled %}
    - name: "Hermes Personal"
      apiKey: "${HERMES_PERSONAL_API_KEY}"
      baseURL: "{{ librechat_hermes_personal_url }}/v1"
      models:
        default: ["default"]
        fetch: false
      titleConvo: true
      titleModel: "default"
{% endif %}
{% if librechat_hermes_infra_enabled %}
    - name: "Hermes Infra"
      apiKey: "${HERMES_INFRA_API_KEY}"
      baseURL: "{{ librechat_hermes_infra_url }}/v1"
      models:
        default: ["default"]
        fetch: false
      titleConvo: true
      titleModel: "default"
{% endif %}
{% endif %}
